*{
    background-color: #333333;
    color: burlywood;
}

h2{
    width: 100vw;
    display: flex;
    justify-content: center;
}

.outerBox{
    display: flex;
    justify-content: center;
    align-items: center;
}

.fetchButton{
    background-color: burlywood;
    color: #333333;
    margin-left: 1rem;
}

.displayPlaceholder{
    color: burlywood;
}